.App {
  text-align: center;
  background-color: rgb(153, 186, 196);
}

.form{
  width:800px;
}

.cardform{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.table{
  background-color: antiquewhite;
}
.cv-anas{
  display: flex;
  margin: 5%;
 
}
